body {
    margin: 0;
    padding: 0;
    /* Usamos el color m치s oscuro del degradado para los bordes */
    background-color: #000b24; 
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

svg {
    /* Esto permite que el SVG crezca al m치ximo manteniendo su proporci칩n 16:9 */
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    /* Mantiene la relaci칩n de aspecto visible sin recortar nada importante */
    object-fit: contain; 
    display: block;
}